* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Rubik", sans-serif;
}

/* MOBILE DESIGN */

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: #ffffff;
}

.logo {
  width: 155px;
  margin: 10px 0px;
}

.nav {
  display: flex;
  list-style: none;
}

.nav_item {
  margin: 0px 10px;
  margin-bottom: 13px;
}

.main {
  background-color: rgb(255, 238, 0);
  height: 100%;
  width: 100%;
}

.title {
  width: 200px;
  text-align: center;
  position: absolute;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* TABLET AND DESKTOP DESIGN */

@media all and (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }
}
